<h1>Hello home page!</h1>


        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <% if user_signed_in? %> 
                    <div> Thank you for signing up for our application. We appreciate your interest <%= current_user.email %> . </div> 
                    <button type="button" class="btn btn-primary"><%= link_to "Sign out", destroy_user_session_path,  data: { "turbo-method": :delete } %></button>
                    <% else %>
                    <div>
                    <%= button_to "Sign in", new_user_session_path %>
                    <% end %>
                </div>
            </nav>
    </div>
